body {
	background: url('assets/freedom.jpg') no-repeat center center fixed;
	font-family: sans-serif;
	text-align: center;
		}

h1 {
	letter-spacing: 3px;
	line-height: 120%;
	margin: 100px 20px 30px 20px;
	font-weight: normal;
	color: dimgrey;
	}

p {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	}